<div class="container">


  <app-top-bar></app-top-bar>

  <div *ngIf="error" class="col-md-12 alert alert-danger" role="alert">
    Server connection could not be established. <b>Please try in a while</b>
  </div>

  <div *ngIf="!error" class="col-md-12 cont-main">
    <div class="row row-reverse">
      <div class="col-md-6 flip cont-left">
        <form [formGroup]="checkoutForm">
          <div class="col-12 no-padding" style=" background-color:lavender; padding: 5px;">
            <div class="row no-padding">
              <div class="col-6">
                <label for="name">
                  Search any pokemon:
                </label>
                <input class="form-control col-12" #box id="name" placeholder="pikachu" type="text"
                  (keyup)="onKey(box.value)" formControlName="name">
              </div>
              <div class="col-6">
                <!-- <button (click)="applyFilter('')">filter</button> -->
                <label >
                  Get by type:
                </label>
                <select class="form-control col-12 mobile-label" #mySelect formControlName="type"
                  (change)="applyFilter(mySelect.value)">
                  <option disabled>Select type</option>
                  <option>No selection</option>
                  <option *ngFor="let suit of oppoSuits">{{suit}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
        <div style="margin-top: -8px;" >
          <mat-selection-list #shoes [multiple]="false"> 

            <cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="nextBatch($event)"
              class=" col-12 example-viewport " style="padding: 0; margin: 0;" >
              <!-- <div *cdkVirtualFor="let item of pokes" class="example-item"> -->
              <!-- <app-item-pokemon [pokemon]="item" (notify)="onNotify(item)"></app-item-pokemon> -->

              <mat-list-option *cdkVirtualFor="let item of pokes" [value]="item" [selected]="item.selected" style="height: 100px; border-bottom: 1px solid #ffd62a;">
                <app-item-pokemon class="no=padding"  [pokemon]="item" (notify)="onNotify(item)"></app-item-pokemon>
              </mat-list-option>
              <!-- </div> -->
            </cdk-virtual-scroll-viewport>
          </mat-selection-list>
        </div>

      </div>
      <div class="col-md-6 cont-detail" >
        <app-detail *ngIf="detail" [detail]="detail"></app-detail>
      </div>
    </div>
  </div>

  <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->


  <router-outlet></router-outlet>
</div>