<!-- <label>nombre  </label>   {{pokemon.name}} <br>
<label>experience  </label>   {{pokemon.base_experience}} -->
<div class=" no-padding " style="height: 100px; width: 110%; cursor: pointer;" (click)="notify.emit()">
    <div class="row" style="height: 100%;" >
        <div class="col-4 text-center" *ngIf="pokemon.sprites.front_default">
            <img class="poke-image" src={{pokemon.sprites.front_default}} />
        </div>
        <div class="col-8  no-padding" style="height: 100%;">
            <label style="margin-top: 7px;"><b>{{pokemon.name.toString().toUpperCase()}}</b></label>
            <div  class="col-12 no-padding ">
                <div class="row no-padding ">
                    <ul class="list-group col-6 cont-info">
                        <li>
                            <span class="badge badge-primary badge-pill">{{pokemon.base_experience}}</span>
                            Experience
                        </li>
                        <li>
                            <span class="badge badge-info badge-pill">{{pokemon.order}}</span>
                            Rank
                        </li>
                        
                    </ul>
                    <ul class="list-group col-6 cont-info">
                        <li >
                            <span class="badge badge-secondary badge-pill">{{pokemon.height}}</span>
                            Height
                        </li>
                        <li >
                            <span class="badge badge-dark badge-pill">{{pokemon.weight}}</span>
                             Weight
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- <label>nombre  </label>   {{pokemon.name}} <br>
                <label>experience  </label>   {{pokemon.base_experience}} <br>
                <button class="btn btn-secondary" (click)="notify.emit()"> DETAILS</button> -->
        </div>
        
    </div>
</div>
<!-- <label>order  </label>    {{pokemon.order}} <br>
<label>experience  </label>   {{pokemon.base_experience}} <br> -->