.left-10{
    margin-left: 10px;
}

.cont-info {
    list-style-type: none; 
    font-size: 1em;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.poke-image {
    width: 75%; 
    height: auto;
    margin-top: -10px;
}

@media (max-width:481px)  { 
    .cont-info {
        list-style-type: none; 
        font-size: 0.7em;
    }

    .poke-image {
        width: 115%; 
        height: auto;
    }
}