<div class="col-12" style="height: auto; background-color:whitesmoke;">

    <label class="label-detail"><b>{{detail.name.toString().toUpperCase()}}</b></label>
    <div class="text-center img-cont">
        <img class="col-md-10" src={{detail.sprites.front_default}}/>
    </div>
    

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td colspan="3" class="text-center"> <b>Base stat</b></td>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">base_stat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stat of detail.stats; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{stat.stat.name}}</td>
                <td>{{stat.base_stat}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped" >
        <thead class="thead-dark">
            <tr>
                <td colspan="3" class="text-center"> <b>Types</b></td>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of detail.types; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{type.type.name}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped" >
        <thead class="thead-dark">
            <tr>
                <td colspan="3" class="text-center"> <b>Moves</b></td>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">move</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let move of detail.moves; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{move.move.name}}</td>
            </tr>
        </tbody>
    </table>

</div>